body{
    font-family: sans-serif;
    margin: 0;
    color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    height: 70px;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nombre{
    display:flex;
    
}
nav a{
    font-weight: 600;
    padding-right: 80px;
    
}
h1{
    text-align: center;
}
img{
    float: left;
    margin-right: 20px;
}
p{
    text-align: justify;
}
.contenedor2 {
    height: 70vh;
    margin: 5%;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .texto {
    margin-left: 20px;
    text-align: justify;
  }
  
  
  .imagen2 {
    height: 400px;
    margin:5%;
    display: flex;
    justify-content:center;
  }  